@mixin font($fw, $fz, $lh: 1) {
  font-family: $site-font;
  font-weight: $fw;
  font-size: $fz + px;
  line-height: $lh;
}

@mixin font-n($fw, $fz, $lh: 1) {
  font-family: $nunito;
  font-weight: $fw;
  font-size: $fz + px;
  line-height: $lh;
}

@mixin media($media) {
  @media screen and (max-width: $media) {
    @content;
  }
}

@mixin img-con{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@mixin fcc{
  display: flex;
  align-items: center;
  justify-content: center;
}