// nunito font
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@font-face {
  font-family: "Gotham Pro";
  src: url("../font/gothampro.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../font/gothampro_black.ttf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../font/gothampro_bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../font/gothampro_light.ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../font/gothampro_medium.ttf");
  font-style: normal;
  font-weight: 500;
}
