$site-font: "Gotham Pro", sans-serif;
$nunito: "Nunito", sans-serif;

// color's
$brand-color: #ed3729;
$title: #000000;
$category: #202020;
$pr-color: #909090;

// bg color
$card-bg: #f2f2f2;
$icon: #bdbdbd;
$default-bgc: #ffffff;
$userInfoBtn: #4675ff;
